<mat-toolbar color="primary">
    <div class="botones">
        <button mat-flat-button [color]="color" (mouseover)="color = 'accent'" (mouseout)="color = 'primary'" (click)="getTop()">Los Mejores</button>
        <button mat-flat-button [color]="color2" (mouseover)="color2 = 'accent'" (mouseout)="color2 = 'primary'" (click)="getPopular()">Populares</button>
        <button mat-flat-button [color]="color3" (mouseover)="color3 = 'accent'" (mouseout)="color3 = 'primary'" (click)="getNow()">Ahora en Cines</button>
    </div>
    <div class="busqueda">
        <mat-form-field appearance="standard" color="accent">
            <mat-label>Buscar</mat-label>
            <input matInput placeholder="Escribe aquí" (keyup)="getSearch($event)">
        </mat-form-field>
    </div>
</mat-toolbar>